#a {
  height: 75px;
  text-align: center;
  background-color: blue;
}

#b {
  height: 150px;
  background-color: green;
}

#c {
  background-color: red;
}

#d {
  background-color: saddlebrown;
}

#e {
  background-color: gray;
}

#f {
  background-color: salmon;
}

#g {
  background-color: slateblue;
}

#h {
  background-color: tan;
}

#c,
#d {
  height: 125px;
}

#e,
#f,
#g,
#h {
  width: 240px;
  height: 250px;
}

#i {
  height: 80px;
  clear: both;
  background-color: goldenrod;
}

#e,
#g {
  float: left;
}

#f,
#h {
  float: right;
}