
.top-boxes {
  display: flex;
  flex-direction: column;
}

#a {
  height: 75px;
  text-align: center;
}

#b {
  height: 150px;

}

.middle-boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

#c,
#d {
  height: 125px;
}

#e,
#f,
#g,
#h {
  width: 240px;
  height: 250px;
}

#i {
  height: 80px;
}
