
@media (min-width: 768px) {
  .top-boxes {
    width: 100%;
  }

  .middle-boxes {
    width: 100%;
  }
  
  #main-content {
    float: right;
    width: 79.9%;
    height: 450px;
  }

  #a {
    width: 100%;
    height: 100px;
  }

  #b {
    width: 20.1%;
    height: 598px;
    float: left;
  }

  #c,
  #d {
    height: 200px;
    width: 50%;
  }

  #c {
    float: left;
  }

  #d {
    float: right;
  }

  #e,
  #f,
  #g,
  #h {
    width: 25%;
    height: 248px;
    float: left;
  }

  #i {
    width: 100%;
    height: 148px;
  }
}